---
---

@import "{{ site.theme }}";
#banner {
  right: 0;
  margin-right: initial;
}

header {
  background: none;
  box-shadow: none;
  text-align: left;
  width: 1130px;
  margin: 0 auto;
  z-index: initial;
}

header p {
  color: #333;
  text-shadow: 0px 2px 0px #716f65;
}

header h1 {
  color: #333;
  text-shadow: 0px 2px 0px #716f65;
}

section {
  margin-top: 30px;
}

nav {
  top: 150px;
}

blockquote {
  border-left: 1px solid #75b5aa;
}

ul {
  list-style-image: none;
  list-style-type: square;
}

@media print, screen and (max-width: 1060px){
  header {
    width: auto;
  }
}
